<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @email.title %>
</p>

<p>
  <b>Description:</b>
  <%= @email.description %>
</p>


<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
